- content_for :head do
  %title= @catalogue_section.name
  %meta{name:"keywords", content:"#{@catalogue_section.name} в воронеж белгород лиски россошь борисоглебск"}
  %meta{name:"description", content:"#{@catalogue_section.name} в воронеж белгород лиски россошь борисоглебск"}
%h1= @catalogue_section.name
.category_description
  != @catalogue_section.body
%table#products
  - @catalogue_section.products.in_groups_of(4, nil) do |products|
    %tr
      - products.each_with_index do |product, index|
        - unless product.nil?
          %td
            %h2= link_to product.name, catalog_product_path(@catalogue_section, product)
    %tr
      - products.each_with_index do |product, index|
        - unless product.nil?
          %td.image
            = link_to catalog_product_path(@catalogue_section, product) do
              = image_tag(product.product_images.first.image.thumb, align: "middle", width: "96", alt: "#{product.name}", border: "0", title: "#{product.name}") unless product.product_images.empty?
    %tr
      - products.each_with_index do |product, index|
        - unless product.nil?
          %td= link_to 'Подробнее...', catalog_product_path(@catalogue_section, product)
    %tr
      - products.each_with_index do |product, index|
        - unless product.nil?
          %td.price= 'Цена: ' + product.price.to_s + ' руб.'
    %tr
      - products.each_with_index do |product, index|
        - unless product.nil? 
          - unless product.product_types.first
            %td.addcart
              = form_for :cart_item, url: add_to_cart_path, method: :post, remote: true do |f|              
                = f.hidden_field :product_id, value: product.id
                = f.hidden_field :quantity, value: 1
                = link_to 'Купить', '#', class: 'submit', onclick: "document.forms[#{index.to_s}].submit();return false;", title: "купить " + product.name + " в воронеже белгороде лисках россоши борисоглебске"
          - else
            %td.addcart
              = link_to 'Купить', "#{catalog_product_path(@catalogue_section, product)}#product_types", class: 'submit', title: "купить " + product.full_name + " в воронеже белгороде лисках россоши борисоглебске"