- content_for :head do
  %title Корзина
  %meta{name:"keywords", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
  %meta{name:"description", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
.componentheading
  %h1 Моя корзина
%br/
%br/
- if @cart.items == []
  %p Ваша корзина пуста
- else
  .cartitems
    %table{width:'100%'}
      %thead
        %tr
          %th{align: 'left'} Товар
          %th{align: 'center', :colspan => "3", :style => "width: 100px;"} Количество
          %th{align: 'center', :style => "width: 150px;"} Итого
          %th{:style => "width: 30px;"} &nbsp;
        %tbody
          - @cart.items.each_with_index do |item, index|
            %tr
              %td
                = link_to item.name, catalog_product_path(Product.find(item.product.id).catalogue_section, item.product)
                %br/
                Цена:
                = item.product.price
                руб.
              %td{align: 'center', :style => "width: 30px;"}
                = link_to cart_conversion_path(product: item.product, product_type: item.product_type, quantity: 'sub'), remote: true do
                  = image_tag "/assets/minus.png"
              %td{align: 'center', id: "quantity_#{index}" }= item.quantity
              %td{align: 'center', :style => "width: 30px;"}
                = link_to cart_conversion_path(product: item.product, product_type: item.product_type, quantity: 'add'), remote: true do
                  = image_tag "/assets/plus.png"
              %td{align: 'center'}
                = item.price
                руб.
              %td
                = link_to destroy_cart_item_path(item.product.id, item.product_type.try(:id)), :confirm => 'вы уверены?', :method => :delete do
                  = image_tag "/assets/del.png"
  %br/
  %br/
  = link_to 'Продолжить покупки', catalogs_path
  = link_to 'Начать процесс оформления заказа', new_order_path
