- content_for :head do
  %title Корзина
  %meta{name:"keywords", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
  %meta{name:"description", content:"фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка"}
%h1.componentheading Информация о покупателе
%br/
= form_for @order do |f|
  Адрес электронной почты:
  %br/  
  = f.text_field :email
  - if @order.errors.any?
    = '* Укажите корректный адрес электронной почты' if !@order.errors[:email].empty?
    %br/
  %br/
  Имя:
  %br/
  = f.text_field :name
  - if @order.errors.any?
    = '* Поле ИМЯ должно быть заполнено' if !@order.errors[:name].empty?
    %br/
  %br/
  Адрес:
  %br/
  = f.text_field :adds
  %br/
  %br/
  Телефон:
  %br/
  = f.text_field :phone
  %br/
  %br/
  %h1 Просмотрите и оформите заказ
  %br/
  %table{width:'100%'}
    %tr
      %td{colspan:2} Наименование товара
      %td{align:'center'} Количество
      %td{width:150, align:'center'} Итого
    - @cart.items.each do |item|
      %tr
        %td= link_to item.product.name, catalog_product_path(Product.find(item.product.id).catalogue_section, item.product)
        %td!= item.product_type == nil ? '&nbsp;' : item.product_type.name
        %td{align:'center'}= item.quantity
        %td{align:'center'}= item.price.to_s + ' руб.'
    %tr
      %td Итого
      %td
      %td
      %td{align:'center'}= @cart.price.to_s + ' руб.'
  %br/
  = f.submit 'Продолжить оформление заказа'
  = link_to 'Вернуться в корзину', cart_path