%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
  %body
    %h3 Информация о покупателе
    %table{width:'100%'}
      %tr
        %td{width:250} № заказа:
        %td= @order.id
      %tr
        %td Статус:
        %td= @order.status
      %tr
        %td Адрес электронной почты: 
        %td= @order.email
      %tr
        %td Имя: 
        %td= @order.name
      %tr
        %td Адрес: 
        %td= @order.adds
      %tr
        %td Телефон: 
        %td= @order.phone
    %br/
    %h3 Товары в заказе
    %br/
    %table{width:'100%'}
      %tr
        %td Наименование товара
        %td{align:'center'} Количество
        %td{width:150, align:'center'} Итого
      - @order.order_items.each do |item|
        %tr
          %td= link_to item.product.name, catalog_product_path(Product.find(item.product.id).catalogue_section, item.product)
          %td{align:'center'}= item.quantity
          %td{align:'center'}= item.summ.to_s + ' руб.'
      %tr
        %td Итого
        %td
        %td{align:'center'}= @order.summ.to_s + ' руб.'