- content_for :head do
  %title= @brand.name  
  %meta{name:"keywords", content:"#{@brand.keywords}"}
  %meta{name:"description", content:"#{@brand.keywords}"}
%h1= @brand.name
= image_tag @brand.logo
!= @brand.info
%p
  %strong Сайт компании:
  = link_to @brand.url, @brand.url, target: '_blank', title: 'ссылка на сайт компании ' + @brand.name
%br/
%h2
  Цены на продукцию
  = @brand.name
%br/
= render partial: 'products/products', locals: {products: @product_list}