- content_for :head do
  %title= @product.catalogue_section.name + ' - ' + @product.name_with_brand
  %meta{name:"keywords", content:"#{@product.name_with_brand} в воронеж белгород лиски россошь борисоглебск"}
  %meta{name:"description", content:"#{@product.name_with_brand} в воронеж белгород лиски россошь борисоглебск"}
%p
  = link_to 'Каталог', catalogs_path, title: 'вернуться в общий каталог продукции водоснабжения и водоочистки'
  \/
  = link_to @product.catalogue_section.name, catalog_path(@product.catalogue_section), title: 'вернуться в ' + @product.catalogue_section.name
  \/
  = @product.name
%h1
  = link_to @product.brand.name, brand_path(@product.brand), title: "подробнее о #{@product.brand.name}" if @product.brand
  = @product.name
.product_image{style:'position:relative'}
  = product_image(@product)
.product_description
  = product_description(@product)  
  - if @product.product_types == []
    .product_buy
      = form_for :cart_item, url: add_to_cart_path, method: :post do |f|
        / base price
        %span#product_price_4.product_price
          %span Цена:
          = @product.full_price
          руб.
          / For UE States, we should let the admin choose to show (+19% vat) and (link to the shipping rates)
        / Add to cart button
        .add_to_cart
          = f.hidden_field :product_id, value: @product.id
          = f.hidden_field :quantity, value: 1
          = link_to 'Купить', '#', class: 'submit', onclick: "document.forms[1].submit();return false;", title: "купить " + @product.name_with_brand + " в воронеже белгороде лисках россоши борисоглебске"
- if @product.product_types != []
  .clear
  %br/
  %table#product_types.product_types{width:'100%'}
    - @product.product_types.each_with_index do |type, index|
      -# type.product_type_images.each do |image|
      -#  = image_tag(image.type_image.thumb)    
      %tr
        %td.type_image
          = link_to image_tag(type.product_type_images.first.type_image.box, align: "middle", border: "0"), type.product_type_images.first.type_image.url, title: type.full_name, class: 'fancybox' if type.product_type_images != []
        %td &nbsp;
        %td.name= type.name
        %td &nbsp;
        %td.type_price
          Цена:
          = type.price.round
          руб.
        %td.type_addcart
          = form_for :cart_item, url: add_to_cart_path, method: :post, remote: true do |f|
            = f.hidden_field :product_id, value: @product.id
            = f.hidden_field :product_type_id, value: type.id
            = f.hidden_field :quantity, value: 1
            = link_to 'Купить', '#', class: 'submit', onclick: "return false;", title: "купить " + type.full_name + " в воронеже белгороде лисках россоши борисоглебске"