- content_for :head do
  %title= @product.catalogue_section.name + ' - ' + @product.name
%p
  = link_to 'Каталог', catalogs_path
  \/
  = link_to @product.catalogue_section.name, catalog_path(@product.catalogue_section)
  \/
  = @product.name
#tienda.products.view
  #tienda_product
    #tienda_product_header
      %h1= @product.name
    .product_image{style: 'float:left'}
      - unless @product.product_images.empty? 
        = link_to @product.product_images.first.image.medium.url, class: 'modal', :rel => "{handler:'image'}" do
          %span
            = image_tag(@product.product_images.first.image.thumb, :align => "middle", :alt => "#{@product.name}", :border => "0", :title => "#{@product.name}") unless @product.product_images.empty? 
    #product_description
      != @product.description
      #product_buy_4.product_buy
        = form_for :cart_item, url: add_to_cart_path, method: :post do |f|
          / base price
          %span#product_price_4.product_price
            %span Цена:
            = @product.price
            руб.
            / For UE States, we should let the admin choose to show (+19% vat) and (link to the shipping rates)
          / Add to cart button
          #add_to_cart_4.add_to_cart
            = f.hidden_field :product_id, value: @product.id
            = f.hidden_field :quantity, value: 1
            %img.addcart{:alt => "Add to Cart", :onclick => "submit();", :onmouseout => "src='/assets/addcart.png'", :onmouseover => "src='/assets/addcart_h.png'", :src => "/assets/addcart.png"}/