<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0044)http://aquamarket-vrn.ru/2012-04-02-10-34-43 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!--<base href="http://aquamarket-vrn.ru">-->
  <base href=".">

  <meta name="robots" content="index, follow">
  <meta name="keywords" content="аквамаркет воронеж">
  <meta name="title" content="#{@article == nil ? 'Аквамаркет, г.Воронеж' : @article.title}">
  <meta name="author" content="mlip.ru">
  <meta name="description" content="водоподготовка и очистка воды в воронеже">
	<link type="image/png" href="/assets/favicon.png" rel="shortcut icon">
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>

<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= yield :head %>
<%= csrf_meta_tags %>
</head>
<body>
	<div class="main_wrap">
		<%= link_to :root, class:"logo" do %>
			<%= image_tag 'logo.png', alt:"Аква-маркет водоподготовка и очистка воды", title:"Аква-маркет водоподготовка и очистка воды" %>
		<% end %>
		<div id="tiendaUserShoppingCart">
      <%= render 'shared/cart' if @cart && @cart.quantity > 0 %>      
      <div class="reset"></div>
    </div>
    <ul class="menu">
      <%- MenuItem.find_by_name('top').try(:children).try(:each_with_index) do |menu, index| %>
        <li class="item<%= index + 1 %>">
          <%= link_to menu.url do %>
            <span><%= menu.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
			<div class="wrap_left">
				<div class="left">
					<div class="left_in">
            <%- MenuItem.find_by_name('menu').try(:children).try(:each) do |menu| %>
							<div class="moduletable">
                <h3><%= menu.name %></h3>
                <ul class="menu_left">
                  <%- menu.children.each do |item| %>
                    <li class="item27">
                      <%= link_to item.url do %>
                        <span><%= item.name %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>		
              </div>
            <% end %>
          </div>
				</div>
			</div>
			<div class="right">
        <%= yield %>
        <span class="article_separator">&nbsp;</span>
			</div>
			<div class="footer">
				<p class="copy"><span class="copy_1">© «Аква-маркет» ‒ 2011г.</span><br><br>
				г. Воронеж, ул. Ленинградская, д. 118<br>Тел: 8 (473) 241 1201, 8 (980) 341 3538</p>
				<p class="foot">
				<span class="live">
				<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t40.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><a href="http://www.liveinternet.ru/click" target="_blank"><img src="/assets/hit.gif" alt="" title="LiveInternet" border="0" width="31" height="31"></a><!--/LiveInternet-->
				</span><br><br>
				<a target="_blank" href="http://www.umnoe-seo.ru/sozdanie-sajtov">Создание</a> и <a target="_blank" href="http://www.umnoe-seo.ru/">продвижение сайта</a> ‒ «Умное SEO»
				
				</p>
			</div>
	</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter13381879 = new Ya.Metrika({id:13381879, enableAll: true, webvisor:true});
        } catch(e) {}
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/13381879" style="position:absolute; left:-9999px;" alt="" ></div></noscript>
<!-- /Yandex.Metrika counter -->


</body></html>