<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0044)http://aquamarket-vrn.ru/2012-04-02-10-34-43 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!--<base href="http://aquamarket-vrn.ru">-->
  <base href=".">

  <meta name="robots" content="index, follow">
  <meta name="author" content="mlip.ru">
  <link type="image/png" href="/assets/favicon.png" rel="shortcut icon">
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>

<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag '/assets/jquery1.8.2.js' %>
<%= javascript_include_tag 'application' %>
<%- if content_for?(:head) %>
<%= yield(:head) %>
<% else %>
<title>Аквамаркет, г.Воронеж</title>
<meta name="keywords" content="фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка">
<meta name="description" content="фильтры для очистки воды кулеры аквафор гейзер барьер воронеж водоподготовка">
<% end %>    
<%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'выйти', destroy_user_session_path, :method => :delete  if current_user %>
	<div class="main_wrap">
		<%= link_to :root, class:"logo" do %>
			<%= image_tag 'logo.png', alt:"Аква-маркет водоподготовка и очистка воды", title:"Аква-маркет водоподготовка и очистка воды" %>
		<% end %>
		<div id="tiendaUserShoppingCart">
      <%= render 'shared/cart' if @cart && @cart.quantity > 0 %>      
      <div class="reset"></div>
    </div>
    <ul class="menu">
      <%- MenuItem.find_by_name('top').try(:children).try(:each_with_index) do |menu, index| %>
        <li class="item<%= index + 1 %>">
          <%= link_to menu.url, title: menu.name do %>
            <span><%= menu.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
			<div class="wrap_left">
				<div class="left">
					<div class="left_in">
            <form action="/find_product" class="find_product" id="find_product" method="post">
              <div>
                <input type="search" value="Поиск по каталогу" onBlur="if(this.value=='') this.value='Поиск по каталогу'" onFocus="if(this.value =='Поиск по каталогу' ) this.value=''" name="product_name" />
                <a href="#" onclick="document.getElementById('find_product').submit();return false;">&nbsp;</a>
              </div>
            </form>
            <%- MenuItem.find_by_name('menu').try(:children).order('lft').try(:each) do |menu| %>
              <%- if menu.children == [] %>
                <%= link_to menu.url do %>
                  <h3><%= menu.name %></h3>
                <% end %>
              <%- else %>
                <h3 class="menu_nav"><%= menu.name %></h3>
                <ul class="menu_left">
                  <%- menu.children.each do |item| %>
                    <li class="item27">
                      <%= link_to item.url, title: item.name do %>
                        <span><%= item.name %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>		
              <% end %>
            <% end %>
          </div>
				</div>
			</div>
			<div class="right">
        <%- if @article && @article.title == 'Главная страница' %>
          <%- @promo = News.last %>
          <%= link_to news_path(@promo), title: 'акция "авамаркет" в воронеже', class: "promo" do %>
            <%= @promo.title %>
          <% end %>
        <% end %>
        <%= yield %>
        <span class="article_separator">&nbsp;</span>
			</div>
			<div class="footer">
				<p class="copy"><span class="copy_1">© «Аква-маркет» ‒ 2011г.</span><br><br>
				г. Воронеж, ул. Ленинградская, д. 118<br>Тел: 8 (473) 241 1201, 8 (980) 341 3538</p>
				<p class="foot">
				<span class="live">				
				</span><br><br>
				<a target="_blank" href="http://mlip.ru">Создание и продвижение сайтов в Воронеже:</a>&nbsp;<a  target="_blank" href="http://mlip.ru/" title="разработка и продвижение сайта веб-студия mlip">mlip</a>				
				</p>
			</div>
	</div>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter19425016 = new Ya.Metrika({id:19425016, webvisor:true, clickmap:true, trackLinks:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/19425016" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<script type="text/javascript">
$(document).ready(function() {  
  $(".menu_nav").toggle(function(){
    $(this).next().slideDown("slow");
  }, function(){
    $(this).next().slideUp("slow");
  });
  $('.menu_left').hide();
});
</script>
</body></html>